.header-container {
  background-color: #272727;
  height: 13vh;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
@media screen and (min-width: 768px) {
  .header-container {
    padding: 40px;
  }
}
.site-logo-image {
  width: 80px;
  height: 27px;
}
@media screen and (min-width: 768px) {
  .site-logo-image {
    width: 100px;
    height: 30px;
  }
}
.small-header-icons-container {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .small-header-icons-container {
    display: none;
  }
}
.home-icon {
  color: #ffffff;
  margin: 15px;
  height: 28px;
  width: 28px;
}
.logout-icon-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
.nav-items-container {
  display: none;
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .nav-items-container {
    display: block;
    display: flex;
    flex-direction: row;
  }
}
.nav-item {
  font-family: 'Roboto';
  font-size: 15px;
  color: #f1f5f9;
  margin: 15px;
  cursor: pointer;
  text-decoration: none;
  border: none;
}
.logout-button {
  height: 28px;
  width: 100px;
  background-color: #6366f1;
  color: #ffffff;
  border-width: 0px;
  border-radius: 6px;
  display: none;
  cursor: pointer;
  outline: none;
}
link {
  text-decoration: none;
}
